.main {
    margin-top: 20px;
    padding-top: 10px;
}


.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: #ce4a4a;
}

.red-text {
    color: #e2eaea;
}

.green {
    background-color: #7dcb7d;
}

.green-text {
    color: darkslateblue;
}

.yellow {
    background: #d2ec5b;
}

.yellow-text {
    color: rgb(21, 2, 2);
}