.main {
    margin-top: 20px;
    padding-top: 10px;
}


.dark {
    background: dimgrey;
}

.dark-text {
    color: #ad9dc0;
}

.red {
    background: #ce4a4a;
}

.red-text {
    color: #1140e0;
}

.green {
    background-color: #7dcb7d;
}

.green-text {
    color: #150202;
}

.yellow {
    background: #d2ec5b;
}

.yellow-text {
    color: rgb(222, 15, 15);
}