@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.App {
    position: relative;
    margin-top: 10px;
    padding: 18px;
}

.title {
    font-size: 30px;
}

:root {
    /* ===== Colors ===== */
    --sidebar-color: #8fdc8f;
    --primary-color: #4dad4d;

    /* ====== Transition ====== */
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    /*transition: var(--tran-05);*/
    background-color: #e5f3e5;
}

.sidebar {
    position: absolute;
    top: -10px;
    left: -5px;
    height: 45px;
    width: 500px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: all 0.3s ease;
    z-index: 100;
}

.sidebarClose {
    width: 20px;
}

.sidebar .text {
    font-size: 13px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.link {
    text-decoration: none;
    color: black;
    transition: all 0.1s ease;
}

.sidebarClose .text {
    opacity: 0;
}

.sidebar header {
    position: relative;
}

.sidebar header .logoText {
    display: flex;
    width: 450px;
    height: 25px;
    transition: all 0.3s ease;
    justify-content: space-around;
    align-items: center;
}

.toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebarClose .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.linkActive {
    color: #034103;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.1s ease;
}



