.buttonFilter {
    color: white;
    background-color: green;
    margin-right: 10px;
}

.buttonClose {
    color: white;
    background-color: green;
    margin-bottom: 10px;
}

.affair {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.affairName {
    color: green;
    width: 100px;
}

.high {
    color: red;
}

.low {
    color: green;
}

.middle {
    color: chocolate;
}


