*, *::before, *::after {
    box-sizing: border-box;
}

.label {
    font-size: 14px;
    position: relative;
    --field-padding: 12px;
    border-top: 20px solid transparent;
}

.superInput {
    outline: none;
    border: none;
    appearance: none;
    background: #f2f2f2;
    padding: 12px;
    border-radius: 3px;
    height: 45px;
    width: 250px;
    font-size: 14px;
}

.placeholder {
    position: absolute;
    left: var(--field-padding);
    width: calc(100% - (var(--field-padding) * 2));
    bottom: 50%;
    top: 35%;
    transform: translateY(-50%);
    color: #aaa;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: top 0.3s ease,
    color 0.3s ease,
    font-size 0.3s ease;
}

.superInput:focus + .placeholder {
    top: -10px;
    font-size: 13px;
    color: #0f1010;
    font-weight: 500;
}

.errorInput {
    outline: none;
    border: none;
    box-shadow: inset 0 0 0 1px #d30909;
}

.errorMessage {
    background: #d30909;
    font-size: 13px;
}

.errorBox {
    height: 24px;
    padding: 2px 8px;
    width: 250px;
    align-items: center;
}