.default {
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 40px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.default:after {
    content: "";
    background-color: #6fc066;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 5px;
    left: 5px;
    transition: 0.3s;
}

.default:hover:after {
    top: 0;
    left: 0;
}

@media (min-width: 768px) {
    .default {
        padding: 10px 20px 10px;
    }
}

.red:after {
    background-color: #f55b5b;
}

