.errorText {
    margin: 1px;
    color: red;
    font-size: 12px;
    height: 20px;
}

.input {
    background-color: #8fdc8f;
}

.button {
    background-color: #4dad4d;
    margin-left: 10px;
}

.error {
    border: 2px solid black;
    background-color: #f14848;
}

.count {
    display: inline-block;
    margin-left: 10px;
    color: green;
    font-size: 15px;
    font-weight: bold;
}

